.material-symbols-outlined.edit-icon {
    cursor: pointer;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.status-dot {
    width: 18px;
    height: 18px;
    margin-right: 0.4rem;
    border: 2px solid white;
    border-radius: 50%;
    animation: blink 1.6s infinite;
}

.card-bg {
    backdrop-filter: blur(4px);
}