.material-symbols-outlined.edit-icon {
    cursor: pointer;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

.status-dot {
    width: 18px;
    height: 18px;
    margin-right: 0.4rem;
    border: 2px solid white;
    border-radius: 50%;
    animation: blink 1.6s infinite;
}

.card-bg {
    backdrop-filter: blur(4px);
}

.separator {
    width: 2px;
    height: 20rem;
    background: linear-gradient(to bottom, transparent 45%, white 45%, white 55%, transparent 55%),
               linear-gradient(to bottom, transparent 55%, white 55%, white 65%, transparent 65%),
               linear-gradient(to bottom, transparent 65%, white 65%, white 75%, transparent 75%),
               linear-gradient(to bottom, transparent 75%, white 75%, white 85%, transparent 85%),
               linear-gradient(to bottom, transparent 85%, white 85%, white 95%, transparent 95%),
               linear-gradient(to bottom, transparent 95%, white 95%, white 100%, transparent 100%);
    background-repeat: no-repeat;
    background-position: center;
    font-size: 16px;
    line-height: 28rem;
    text-align: center;
    margin-left: 4rem;
    margin-right: 1rem;
   }