.form {
    height: 20rem;
    width: 28rem;
    border: 1px solid white;
    margin-top: 2rem;
    margin-left: -1.5rem;
    border-radius: 0.7rem;
}


@media only screen and (max-width: 600px) {
    .form {
        margin-top: 4rem;
        margin-left: 4rem;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 50;
    right: 50;
    width: 24rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2rem;
}

.content {
    background: rgb(242, 242, 242);
    position: absolute;
    padding: 20px;
    border-radius: 4px;
    height: 30rem;
}